body {
  background: url('assets/icons/pageaccueil.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 20px;
  cursor: url('assets/icons/curseur.png') 0 0, auto;
}

}

#password-screen {
  margin-top: 100px;
}

.hidden {
  display: none;
}

#circle {
  padding-top: 30px;
}

.circle {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 50%;
  animation: spin 40s linear infinite;
  transform-style: preserve-3d;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(calc(var(--i) * 40deg)) translate(200px) rotate(calc(var(--i) * -40deg));
  transform-origin: center;
   z-index: 1;
}

.icon span {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s;
}

.icon span:hover {
  transform: scale(1.2);
  z-index: 2;
}

.icon img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#entry-content {
  margin-top: 30px;
  padding: 10px;
  white-space: pre-wrap;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle:hover {
  animation-play-state: paused;
}
